<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1 th:text="${title}">Titre Par Défaut</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <hr />

    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label for="name-field">Fromage:</label>
            <input class="form-control" id="name-field" type="text" name="fromageNom" />
        </div>
        <div class="form-group">
            <label for="desc-field">Décrivez Votre Fromage:</label>
            <input class="form-control" id="desc-field" type="text" name="descriptionFromage" />
        </div>
        <input type="submit" value="Ajoutez!" />
    </form>

    <hr />

    <nav th:replace="fragments :: navigation"></nav>

</body>
</html>