<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <h1 th:text="${title}">Titre Par Défaut</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <hr />

    <form method="post">
        <label for="fromageNom">Fromage:</label>
        <input type="text" name="fromageNom" id="fromageNom"/>
        <label for="descriptionFromage">Décrivez Votre Fromage:</label>
        <input type="text" name="descriptionFromage" id="descriptionFromage"/>
        <input type="submit" value="Ajoutez!" />
    </form>

    <hr />

    <nav th:replace="fragments :: navigation"></nav>

</body>
</html>