<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <h1 th:text="${title}">Titre Par Défaut</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <hr />

    <p th:unless="${fromages} and ${fromages.size()}">pas de fromages :(</p>

    <table class="table">

        <tr>
            <th>Fromage</th>
            <th>Description</th>
            <th>Type</th>
        </tr>

        <tr th:each="fromage : ${fromages}">
            <td th:text="${fromage.name}">fromage</td>
            <td th:text="${fromage.description}">description du fromage</td>
            <td th:text="${fromage.type.name}"></td>
        </tr>

    </table>

    <hr />

    <nav th:replace="fragments :: navigation"></nav>

</body>
</html>